body {
  font-family: Arial;
  background-color: #f0f0f0;
  text-align: center;
}


.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
}

.navbar a {
  color: white;
  margin: 10px;
  text-decoration: none;
}


.header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
}


.books {
  margin-top: 20px;
}

.book {
  background-color: white;
  border: 1px solid #ccc;
  width: 200px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.book img {
  width: 100px;
}

button {
  margin-top: 5px;
  padding: 5px;
  width: 80%;
}